<div>
  <h2 id="page-heading" data-cy="MaintenanceHeading">
    <span jhiTranslate="gmsApp.maintenance.home.title">Maintenances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gmsApp.maintenance.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-maintenance"
        [routerLink]="['/maintenance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gmsApp.maintenance.home.createLabel"> Create a new Maintenance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="maintenances?.length === 0">
    <span jhiTranslate="gmsApp.maintenance.home.notFound">No maintenances found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="maintenances && maintenances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="gmsApp.maintenance.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="gmsApp.maintenance.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rapportGlobal">
            <span jhiTranslate="gmsApp.maintenance.rapportGlobal">Rapport Global</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prixTotal">
            <span jhiTranslate="gmsApp.maintenance.prixTotal">Prix Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="discountTotal">
            <span jhiTranslate="gmsApp.maintenance.discountTotal">Discount Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nuid"><span jhiTranslate="gmsApp.maintenance.nuid">Nuid</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="notification.id">
            <span jhiTranslate="gmsApp.maintenance.notification">Notification</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="engin.plaque">
            <span jhiTranslate="gmsApp.maintenance.engin">Engin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maintenance of maintenances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/maintenance', maintenance.id, 'view']">{{ maintenance.id }}</a>
          </td>
          <td>{{ maintenance.dateDebut | formatMediumDate }}</td>
          <td>{{ maintenance.dateFin | formatMediumDate }}</td>
          <td>{{ maintenance.rapportGlobal }}</td>
          <td>{{ maintenance.prixTotal }}</td>
          <td>{{ maintenance.discountTotal }}</td>
          <td>{{ maintenance.nuid }}</td>
          <td>
            <div *ngIf="maintenance.notification">
              <a [routerLink]="['/notification', maintenance.notification?.id, 'view']">{{ maintenance.notification?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="maintenance.engin">
              <a [routerLink]="['/engin', maintenance.engin?.id, 'view']">{{ maintenance.engin?.plaque }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/maintenance', maintenance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/maintenance', maintenance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(maintenance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="maintenances && maintenances.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
