<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-operation-heading" data-cy="OperationCreateUpdateHeading" jhiTranslate="gmsApp.operation.home.createOrEditLabel">
        Create or edit a Operation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gmsApp.operation.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gmsApp.operation.prix" for="field_prix">Prix</label>
          <input type="number" class="form-control" name="prix" id="field_prix" data-cy="prix" formControlName="prix" />
          <div *ngIf="editForm.get('prix')!.invalid && (editForm.get('prix')!.dirty || editForm.get('prix')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('prix')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('prix')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gmsApp.operation.discount" for="field_discount">Discount</label>
          <input type="number" class="form-control" name="discount" id="field_discount" data-cy="discount" formControlName="discount" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gmsApp.operation.nuid" for="field_nuid">Nuid</label>
          <input type="text" class="form-control" name="nuid" id="field_nuid" data-cy="nuid" formControlName="nuid" />
          <div *ngIf="editForm.get('nuid')!.invalid && (editForm.get('nuid')!.dirty || editForm.get('nuid')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nuid')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="gmsApp.operation.mecanicien" for="field_mecaniciens">Mecanicien</label>
          <select
            class="form-control"
            id="field_mecaniciens"
            data-cy="mecanicien"
            multiple
            name="mecaniciens"
            formControlName="mecaniciens"
          >
            <option
              [ngValue]="getSelectedUser(userOption, editForm.get('mecaniciens')!.value)"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="gmsApp.operation.tache" for="field_taches">Tache</label>
          <select class="form-control" id="field_taches" data-cy="tache" multiple name="taches" formControlName="taches">
            <option
              [ngValue]="getSelectedTache(tacheOption, editForm.get('taches')!.value)"
              *ngFor="let tacheOption of tachesSharedCollection; trackBy: trackTacheById"
            >
              {{ tacheOption.nuid }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
